
<div data-role="page" id="announcement_page">

<div data-role="header">
	<%= image_tag '/assets/TechResultsCasinoBanner.png' , width:'100%' %>
</div>


<div class="ui-bar ui-bar-b">
	<h3 class="alignleft">News</h3>
	<div class = "alignright" id='announcement_notification'><%= link_to (image_tag ('/assets/dark.png')) , notifications_url  %></div>
	<div style="clear: both;"></div>
</div>

<div data-role="content">
		<ul data-role="listview" data-theme="d" class="ui-listview">
		<%= render '/announcements/realtimeannouncement' %>
		
		<% @announcements.each do |a| %>
				<li><%=  a.description %></li>
		<% end %>
		</ul>



</div>


<div data-role="footer" data-position="fixed" >
		<div data-role="navbar" >
			<ul>
				<li><%= link_to '' , player_home_path, 'data-icon' => 'home' %></li>
				<li id="offer1"><%= link_to '', offers_path, 'data-icon' => 'offer' %></li>
				<li id="event1"><%= link_to '' , player_home_path, 'data-icon' => 'event' %></li>
				<li id="promotion1"><%= link_to '', player_home_path, 'data-icon' => 'promotion' %></li>
				<li id="news1"><%= link_to '', announcements_path, 'data-icon' => 'news' %></li>
			</ul>
		</div><!-- /navbar -->
	</div>

	
</div>


