


	



<div data-role="content" >
	<div id="events_content">
		<% if signed_in? %>
		  <%= render '/events/realtimeevent' %>
		  <table>
		  <% @events.each do |e| %>
			<% if e.read == 0 %>
					<tr  class="event_list_unread" data-time="<%=  e.created_at  %>" data-id="<%= e.id %>">
						<td class="spacer"><%= image_tag '/assets/spacer.png' %></td><td class="image"><%= image_tag '/assets/'+e.code+'e.png' , :width =>'60px' , :height=> '60px' %></td>
						<td class="description">
							<h5><%= e.description %></h5>
							<p>Start Date: <%= e.startdate.strftime("%b %d, %Y") %></p>
							<p>End Date: <%= e.enddate.strftime("%b %d, %Y") %></p>
						</td>
						
						<td class="mark_as_read">
								<%= image_tag '/assets/unread1.png' , :class=> "unread" %>
								<p class="read" style="display:none">/events/<%= e.id   %></p>
						</td>
					</tr>
					
					
					
			<% else %>
				<tr  class="event_list" data-time="<%=  e.created_at  %>">
						<td class="spacer"><%= image_tag '/assets/spacer.png' %></td><td class="image"><%= image_tag '/assets/'+e.code+'e.png' , :width =>'60px' , :height=> '60px' %></td>
						<td class="description">
							<h5><%= e.description %></h5>
							<p>Start Date: <%= e.startdate.strftime("%b %d, %Y") %></p>
							<p>End Date: <%= e.enddate.strftime("%b %d, %Y") %></p>
						</td>
				</tr>
				
			
			<% end %>
		  <% end %>
		  </table>
		  <div id="unread_bulbs"><%= @bulbs %></div>
		<% else %>
			You are not signed in<br/>
			<% link_to signin_path %>
		<% end %>
		
		
	</div>
</div>

