

<div data-role="page" id="home_page">



	<div data-role="header"  data-tap-toggle="false" data-position="fixed">
		<%= image_tag '/assets/header.jpg', width:'100%' %>
		<div class="ui-bar">
			
			<h3 class="alignleft"><%= current_player.name.split()[0].capitalize + ' '+ current_player.name.split()[1].capitalize %></h3>
			
			<div class = "alignright" id='home_notification'>
					<% if Notification.where('playerid=?' ,current_player.playerid ).sum('bulb') == 0 %>
						<%= image_tag('/assets/redlight.png', :width=> '35px' , :height=> '31px' )  %>
					<% else %>
						<%= image_tag('/assets/greenlight.png', :width=> '35px' , :height=> '30px') %>
					<% end %>
			</div>
			<div id="logout_div"><%= link_to 'Log Out', signout_path, :class=>'logout' %></div>
			
			
		</div>
	</div>
	
	



	<div data-role="content" >
		<div id="home_content">
	
			<% if signed_in? %>
			
				<div id="img"><%= image_tag '/assets/Gold.png' , :width=> 200 %>
					<div id="clublevelname"><%= current_player.name %></div>
					<div id="clublevelid"><%= current_player.playerid %></div>
				</div>
			
			
				<div id="info">
						<p style="text-align:center">Member Details</p>
						<hr style="height:0em;width: 80%" />
						<table style="width:80%">
							<tr class="tr"><td class="td1">Name: </td><td class="td2"> <%= current_player.name %></td></tr>
							<tr class="tr"><td class="td1">PlayerID: </td><td class="td2"> <%= current_player.playerid %></td></tr>
							<tr class="tr"><td class="td1">Contact: </td><td class="td2"> <%= current_player.contact %></td></tr>		
							<tr class="tr"><td class="td1">Host: </td><td class="td2"> Sagar Pant</td></tr>
							<tr class="tr"><td class="td1">Host Email: </td><td class="td2"> spant@techresults.com</td></tr>
							<tr class="tr"><td class="td1">Host Contact: </td><td class="td2"> 7025432155</td></tr>
						</table>
						<br/>
				</div>
				


			
				<div id="balance">
				<p style="text-align:center">Points</p>
				<hr style="height:0em;width: 80%" />
					<table style="width:80%">
						<tr class="tr"><td class="td1">Redeemed:</td><td class="td2"><%= number_with_delimiter(@player.ptsRed, :delimiter => ',') %></td></tr>
						<tr class="tr"><td class="td1">Balance:</td><td class="td2"><%= number_with_delimiter(@player.ptsBal, :delimiter => ',') %></td></tr>
					</table>
				</div>
				<br/>
				

			<% else %>
				You are not signed in<br/>
				<% link_to signin_path %>
			<% end %>
		</div>	
		<div id='current_player' style="display:none"><%= current_player.playerid %></div>
		<div id='last_offer' style="display:none"><%= @last_offer_date.strftime('%Y-%m-%d %H:%M:%S.%6N') %></div>
		<div id='last_event' style="display:none"><%= @last_event_date.strftime('%Y-%m-%d %H:%M:%S.%6N') %></div>
		<div id='last_promotion' style="display:none"><%= @last_promotion_date.strftime('%Y-%m-%d %H:%M:%S.%6N') %></div>
		<div id='last_notification' style="display:none"><%= @last_notification_date.strftime('%Y-%m-%d %H:%M:%S.%6N') %></div>
		<div id="transfer_total_bulb_count" style="display:none"><%= Notification.where('playerid=?' ,current_player.playerid ).sum('bulb') %></div>


	<div data-role="footer" data-position="fixed" data-tap-toggle="false" >
				<ul>
					<li class='fhome'><%= image_tag('/assets/home.jpg', :class=> 'footer_img', :width=> '100%') %></li>
					<li class='foffer'><%= image_tag('/assets/offers.jpg', :class=> 'footer_img',:width=> '100%') %></li>
					<li class='fevent'><%= image_tag('/assets/events.jpg',:class=> 'footer_img', :width=> '100%') %></li>
					<li class='fpromo'><%= image_tag('/assets/promo.jpg',:class=> 'footer_img', :width=> '100%') %></li>
					<li class='fnews'><%= image_tag('/assets/news.jpg', :class=> 'footer_img',:width=> '100%') %></li>
				</ul>
	</div>
	
	<div id="unread_bulbs" style="display:none"><%= @bulbs %></div>
	
	<div class="page_home" style="display:none">/player_home/</div>
	<div class="page_offers" style="display:none">/offers/</div>
	<div class="page_events" style="display:none">/events/</div>
	<div class="page_promotions" style="display:none">/promotions/</div>
	<div class="page_news" style="display:none">/announcements/</div>
	<div class="page_notifications" style="display:none">/notifications/</div>


</div>




