<h1>Listing Offers</h1>
<table>
  <thead>
    <tr>
      <th>Player ID</th>
      <th>Offer Code</th>
      <th>Description</th>
      <th>Start Date</th>
	  <th>End Date</th>
	  <th>Read</th>
	  <th></th>
	  <th></th>
	  <th></th>
    </tr>
  </thead>
  <tbody>
    <% @offers.each do |o| %>
    <tr>
	  <td><%= o.playerid %></td>
	  <td><%= o.code %></td>
      <td><%= o.description %></td>
	  <td><%= o.startdate.strftime("%b %d, %Y") %></td>
	  <td><%= o.enddate.strftime("%b %d, %Y") %></td>
	  <td><%= o.read %></td>
      <td><%= link_to 'Show', o %></td>
      <td><%= link_to 'Edit', edit_offer_path(o) %></td>
      <td><%= link_to 'Destroy', o, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Offer', new_offer_path %>






